{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <style>
        .content-section {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: white;
            border-radius: 4px;
            transition: all 0.5s ease; /* Add transition for animations */
        }
        .content-section:hover {
            transform: scale(1.02); /* Add scale animation on hover */
        }
        .form-group {
            margin-bottom: 15px;
        }
        .form-group button {
            background-color: #007bff;
            border-color: #007bff;
            color: white;
        }
        .form-group label {
            display: block;
            margin-bottom: 5px;
            text-align: center; /* Align labels to the center */
        }
        .form-group input, .form-group textarea, .form-group select {
            width: 100%; /* Make input boxes of equal length */
        }
    </style>

    <div class="content-section">
        <form action="" method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">New Post</legend>
                <label for="id_title">Title</label>  <!-- Add label for title -->
                {{ form.title }}
                <label for="id_content">Content</label>  <!-- Add label for content -->
                {{ form.content }}
                <label for="id_categories">Categories</label>
                <select name="categories" id="id_categories" class="form-control" multiple>
                    <option value="Science">Science</option>
                    <option value="General">General</option>
                    <option value="Space">Space</option>
                    <option value="Technology">Technology</option>
                    <option value="Art">Art</option>
                    <option value="Music">Music</option>
                    <option value="Movies">Movies</option>
                    <option value="Travel">Travel</option>
                    <option value="Sports">Sports</option>
                    <option value="Food">Food</option>
                    <option value="Health & Fitness">Health & Fitness</option>
                    <option value="Space">Fashion</option>
                </select>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Post</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">Already have an account? <a href="{% url 'blog-home' %}">Go Back</a></small>
        </div>
    </div>
{% endblock content %}
